html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #FFFFFF;
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #284b63;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  font-size: 1.75rem;
}


/* ----- LAYOUT ----- */

/* #root {
  display: flex;
  flex-direction: column;
} */

.header {
  background-color: #3c6e71;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main {
  background-color: #d9d9d9;
  width: 90%;
  max-width: 800px;
  margin: 1em auto;
  padding: 2em 0.5em;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.meme {
  margin-top: 20px;
  position: relative;
}

.main .meme img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.meme-text {
  font-family: impact, sans-serif;
  color: #FFFFFF;
  position: absolute;
  left: 10%;
  text-align: center;
  text-transform: uppercase;
  margin: 0.5em 0;
  width: 80%;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}


/* ----- LINKS AND BUTTONS ----- */

.input {
  font-size: 1.125rem;
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 5px;
}

.get-image-btn {
  border-radius: 10px;
  border: none;
  background-color: #3c6e71;
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 0.5em 1em;
}